<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iota - Hack Stuttgart</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h1>Sensor data</h1>

        <h2> Puls: <%= puls %> </h2>

        <h2> Herzfrequenz: <%= herzfrequenz %> </h2>

        <h2> Sauerstoffgehalt: <%= sauerstoffgehalt %> </h2>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="js/main.js"></script>

</body>
</html>